{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "umd"
      }
    ],
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-jsx",
    "transform-vue-jsx"
  ]
}
